@use "./variables" as *;
@use "./mixins" as *;

.bg-sec {
    background-color: var(--secondary);
}

.bg-pry {
    background-color: var(--primary);
}

.content {
    padding: 50px 16px;
    margin-left: auto;
    margin-right: auto;
    @include flex-column;
    gap: 32px;

    @media (min-width: $w-xs) {
        padding-left: 24px;
        padding-right: 24px;
    }

    @media (min-width: $w-sm) {
        // max-width: $w-sm;
    }

    @media (min-width: $w-md) {
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 100px;
        padding-bottom: 100px;
    }

}

.padding-content {
    padding: var(--padding-content-y) (--padding-content-x);
    max-width: 1200px;
}

.padding-content-x {
    padding-left: var(--padding-content-x);
    padding-right: var(--padding-content-x);
}

.padding-content-y {
    padding-left: var(--padding-content-y);
    padding-right: var(--padding-content-y);
}

.fa-pseudo::after,
.fa-pseudo::before {
    @include fa-pseudo
}

.font-heading {
    font-family: var(--font-heading);
}

.font-body {
    font-family: var(--font-body);
}

.ibtn {
    display: inline-flex;
    align-items: center;
    align-self: flex-start;
    gap: 8px;
    padding: 16px 24px;
    border: 1px solid var(--border);
    box-shadow: 0px 7px 16px 5px rgb(120 120 120 / 45%);
    border-radius: 32px;
    // font-size: small;
    font-weight: bolder;
    background-color: white;
    color: var(--primary);
    flex-grow: 0;
    white-space: nowrap;
    transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, 
                letter-spacing 0.35s ease-in-out;

    &:hover {
        background-color: var(--primary);
        color: white;
    }

    &:focus {
        transform: scale(0.955);
        letter-spacing: normal;
    }

    &.ibtn-primary {
        background-color: var(--primary);
        color: white;
    }
}

.ibtn-primary {
    background-color: var(--primary);
    color: white;
}

.itext-primary {
    color: var(--primary);
}

.section-title {
    @include section-title;
    color:var(--secondary);
}

.hide-x-scrollbar {
    overflow-x: scroll;
}

.hide-x-scrollbar::-webkit-scrollbar {
    height: 0;
}


.card {
    padding: 32px;
    @include flex-column;
    gap: 8px;
    border: 1px solid var(--border);
    border-radius: 16px;

    .title {
        font-weight: 700;
        color: black;
        font-family: var(--font-heading);
        // font-size: 1.19rem;
    }

    &.card-a {
        @include flex-column(0.5rem);

        .icon-area {
            @include rounded(24px);
            line-height: 24px;
            flex-shrink: 0;
        }
        .wrapper-title {
            @include flex-row(8px);
            align-items: center;
        }

        .icon {
            color: var(--primary);
            font-size: 18px;
            flex-grow: 0;
            flex-shrink: 0;
        }

        .title {
            margin: 0;
            transition: color 0.5s ease-in-out;
        }
    }

    &.card-b {

        .title {
            display: flex;
            align-items: center;

            &::before {
                content: "";
                display: block;
                height: 12px;
                width: 12px;
                background-color: var(--primary);
                margin-right: 8px;
                border-radius: 2px;
            }
        }

    }

    &.card-c {
        background-color: white;
        border: 1px solid var(--border);

        .image-wrapper {
            @include rounded(50px);
            background-color: #464224db;
            display: flex;
            justify-content: center;
        }

        img,
        i {
            display: block;
            width: 35%;
        }
    }

    &.card-d {
        padding: 0;
        border: none;
        position: relative;
        min-height: 360px;
        overflow: hidden;
        color: var(--text-light);
        transition: color 0.35s ease-in-out, box-shadow 0.35s ease-in-out;

        &:hover {
            color: white;
            box-shadow: $shadow-hover;

            img {
                transform: scale(1.125);
            }

        }

        img {
            min-width: 100%;
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            z-index: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.35s ease-in-out, filter 0.35s ease-in-out;
            filter: brightness(0.65) grayscale(0.1);
        }

        .card-content {
            height: 100%;
            padding: 24px;
            position: relative;
            background-color: rgba(29, 41, 67, 0.341);
            @include flex-column;
            flex-grow: 1;
            justify-content: flex-end;
            color: white;
        }

        .title {
            color: white;
        }
    }

    &.card-e {
        padding: 0;
        border: none;
        border-radius: 0;
        box-shadow: var(--shadow-md);

        &:hover {
            .button-text {
                width: 100%;
                color: var(--primary);
            }

            img {
                transform: scale(1.17);
            }
        }

        .image-container {
            position: relative;
            min-height: 150px;
            overflow: hidden;

            &::before {
                content: "";
                @include absolute-fill(rgba(0, 0, 0, 0.25));
                z-index: 1;
            }
        }

        img {
            min-width: 100%;
            position: relative;
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: transform 0.35s ease-in-out, filter 0.35s ease-in-out;
            filter: brightness(0.75);
        }

        .card-text {
            padding: 24px;
        }

        .title {
            color: white;
            padding: 16px 24px;
            position: absolute;
            bottom: 0;
            font-size: 1.19rem;
            z-index: 1;
        }

        .action-button {
            all: unset;
            @include flex-row;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;
            padding: 8px;
            border-bottom: 1px solid var(--border);
            border-radius: 4;
            font-size: small;
        }

        .button-text {
            display: inline-block;
            width: 0;
            white-space: nowrap;
            overflow: hidden;
            transition: 0.35s ease-in-out;
        }

        i.fa-arrow-right {
            color: var(--primary);
        }
    }
}

.pseudo-underline {
    @include flex-column;
    align-self: center;
    position: relative;
    padding-bottom: 8px;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 65%;
        margin: auto;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 8px;
        height: 2px;
        background-color: var(--primary);
        border-radius: 5px;
    }
}

.max-width-text {
    max-width: $max-text-width;
    margin: auto;
}

.text-light {
    color: var(--text-light);
}

.text-white {
    color: white;
}