@use "./variables" as *;
@use "./mixins" as *;

.bg-sec {
    background-color: var(--secondary);
}

.bg-pry {
    background-color: var(--primary);
}
.content {
    padding: 50px 16px;
    margin-left: auto;
    margin-right: auto;
    @include flex-column;
    gap: 32px;

    @media (min-width: $w-xs) {
        padding-left: 24px;
        padding-right: 24px;
    }

    @media (min-width: $w-sm) {
        // max-width: $w-sm;
    }

    @media (min-width: $w-md) {
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 100px;
        padding-bottom: 100px;
    }

}

.padding-content {
    padding:var(--padding-content-y) (--padding-content-x);
    max-width: 1200px;
}

.padding-content-x {
    padding-left: var(--padding-content-x);
    padding-right: var(--padding-content-x);
}
.padding-content-y {
    padding-left: var(--padding-content-y);
    padding-right: var(--padding-content-y);
}

.fa-pseudo::after,
.fa-pseudo::before {
    @include fa-pseudo
}

.font-heading {
    font-family: var(--font-heading);
}

.font-body {
    font-family: var(--font-body);
}

.ibtn {
    display: inline-flex;
    align-items: center;
    align-self: flex-start;
    gap: 8px;
    padding: 16px 24px;
    border: 1px solid var(--border);
    box-shadow: 0px 7px 16px 5px rgb(120 120 120 / 45%);
    border-radius: 32px;
    font-size: smaller;
    font-weight: bolder;
    letter-spacing: 1.25px;
    background-color: white;
    color: var(--primary);
    flex-grow: 0;
    white-space: nowrap;
    transition: 0.35s ease-in-out;

    .icon {
        opacity: .5;
    }

    &:hover {
        background-color: var(--primary);
        color: white;
    }

    &:focus {
        transform: scale(0.955);
        letter-spacing: normal;
    }

    &.ibtn-primary {
        background-color: var(--primary);
        color: white;
    }
}

.ibtn-primary {
    background-color: var(--primary);
    color: white;
}

.itext-primary {
    color: var(--primary);
}

.section-title {
    @include section-title;
}

.hide-x-scrollbar {
  overflow-x: scroll;
}

.hide-x-scrollbar::-webkit-scrollbar {
  height: 0;
}


.card {
    padding: 32px;
    @include flex-column;
    gap: 8px;
    border: 1px solid var(--border);
    border-radius: 8px;

    .title {
        font-weight: 700;
        color: black;
    }

    // card style A
    &.card-A {

        .title {
            display: flex;
            align-items: center;

            &::before {
                content: "";
                display: block;
                height: 12px;
                width: 12px;
                background-color: var(--primary);
                margin-right: 8px;
                border-radius: 2px;
            }
        }

    }

    // card style B
    &.card-B {
        background-color: white;
        border: 1px solid var(--border);

        .image-wrapper {
            @include rounded(50px);
            background-color: #464224db;
            display: flex;
            justify-content: center;
        }

        img {
            display: block;
            width: 35%;
        }
    }

    &.card-style-A {
        @include flex-column(0.5rem);

        .container-top {
            @include flex-row(8px);
            align-items: center;
        }

        .image-wrapper {
            height: 24px;
            width: 24px;
            flex-shrink: 0;
        }

        img {
            width: 100%;
            min-height: 100%;
            display: block;
        }

        .card-title {
            font-weight: 700;
            color: black;
            margin: 0;
        }
    }
}

.pseudo-underline {
    @include flex-column;
    align-self: center;
    position: relative;
    padding-bottom: 8px;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 65%;
        margin: auto;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 8px;
        height: 2px;
        background-color: var(--primary);
        border-radius: 5px;
    }
}

.max-width-text {
    max-width: $max-text-width;
    margin: auto;
}
.text-light {
    color: var(--text-light);
}
.text-white {
    color: white;
}