@use "./variables" as *;
@use "./mixins" as *;

.footer {
    border-top: 1px solid var(--border);
    background-color: white;

    .content {
        gap: var(--padding-content-y);
    }
}

.wrapper-columns {
    @include flex-column(1rem);

    .content-padding {
        gap: var(--padding-content-y);
    }
}

.footer-top {

    @media(min-width: $w-lg) {
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }

    .brand-logo {
        width: 150px;
        position: relative;

        img {
            display: block;
            max-width: 100%;
        }
    }

    .wrapper-lv-3 {
        @media(min-width: $w-sm) {
            flex-direction: row;
            width: 100%;
        }


        .column {
            @media(min-width: $w-sm) {
                flex-grow: 1;
            }
        }
    }

    .wrapper-lv-2 {
        background-color: var(--bg);
        padding: 24px;
        border-radius: 8px;
        border-left: 1px solid var(--primary);

        @media(min-width: $w-md) {
            flex-direction: row;
            gap: 2rem;
            padding: 48px;

            &>.column:nth-child(1) {
                width: 33.3%;
                flex-grow: 0;
                flex-shrink: 0;
            }
        }
    }

    ul.links>li {
        display: flex;
        align-items: center;

        &::before {
            content: "";
            display: inline-block;
            height: 6px;
            border-radius: 2px;
            width: 6px;
            margin-right: 8px;
            border: 1px solid var(--primary);
            transform: rotate(45deg);
            transform-origin: center;
        }
    }
}

.footer-newsletter {
    @include flex-column(1.25rem);
    align-items: center;
    text-align: center;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;

    @media(min-width: $w-sm) {
        // flex-direction: row;
        // text-align: left;
    }

    @media(min-width: $w-md) {
        flex-direction: column;
        width: 33.3%;
        flex-grow: 0;
        flex-shrink: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 100%;
        max-width: $w-xs;

        // @media(min-width:$w-md) {
        //     flex-direction: row;
        // }

    }

    .wrapper-input {
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding: 8px 16px;
        border-radius: 8px;
        border: 2px solid var(--border);
        // border: 2px solid #765720;
        background-color: rgba(255, 255, 255, 0.5);
        // box-shadow: $shadow-md;

        &::before {
            content: "\f0e0";
            margin-right: 8px;
            color: var(--primary);
        }
    }

    input {
        border: none;
        background-color: transparent;
        flex-grow: 1;
        color: white;

        &:focus {
            background-color: transparent;
        }
    }

    .btn-newsletter {
        border: none;
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 8px;
        border: 2px solid var(--border);
        // background-color: var(--primary);
        background-image: linear-gradient(24deg, rgb(78 78 78 / 48%), rgb(90 116 90 / 87%));
        display: block;
        width: 100%;
        font-weight: 600;
        box-shadow: $shadow-md;
        text-shadow: 0 2px #8e8e8edb;
    }
}

.social-media-links {
    @include flex-row;
    gap: .5rem;

    li {
        @include rounded(45px);
        background-color: white;
        box-shadow: $shadow-md;
    }

    a {
        color: var(--primary);
    }
}

ul {
    display: flex;
    flex-direction: column;
    position: relative;
}

.contact-info {
    display: flex;
    flex-direction: column;
    position: relative;

    &>ul {
        gap: 1rem;

        .field-name {
            font-weight: lighter;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 1px;
            top: 12px;
            bottom: 4px;
            left: 22px;
            background-color: var(--bg);

            @media(min-width: $w-sm) {
                display: none;
            }
        }

        li.contact-item {
            display: inline-flex;
            align-items: flex-start;
            gap: 0.7rem;
            background-color: var(--bg);
            padding: 16px;
            border-radius: 16px;
        }

        i {
            @include rounded(45px);
            background-color: white;
            font-size: small;
            color: var(--primary);
            position: relative;
            box-shadow: $shadow-md;
        }

    }
}

.caption {
    display: inline-block;
    color: black;
    margin-bottom: 0.25rem;
}

.footer-center {
    @media(min-width: $w-md) {
        flex-direction: row;
        gap: 64px;
    }

    .wrapper-lv-2 {
        @media(min-width: $w-sm) {
            flex-direction: row;
        }

        @media(min-width: $w-md) {
            flex-grow: 1;
            gap: 64px;
        }
    }

    .column {
        @media(min-width: $w-sm) {
            flex-grow: 1;
            width: 45%;
        }

    }
}

.footer-attribution {
    @include flex-column;
    text-align: center;
    font-weight: lighter;
    background-color: var(--bg);
    // padding: 24px;

    .content {
        padding-top: 24px;
        padding-bottom: 24px;
        gap: 0;

        @media(min-width: $w-sm) {
            flex-direction: row;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
    }

    .year {
        color: var(--black);
        font-weight: normal;

        @media(min-width: $w-sm) {
            flex-grow: 1;
            text-align: left;
        }

    }

}