@use "./variables" as *;
@use "./mixins" as *;

.solutions {

  .top-container {
    @include flex-column;
    margin-bottom: 16px;

    @media (min-width: $w-md) {
      flex-direction: row-reverse;

      .image-wrapper {
        width: 50%;
        flex-shrink: 0;
        box-shadow: 0 10px 16px -5px rgba(132, 132, 132, 0.4196078431);
        border-bottom: 3px solid var(--primary);
      }
    }

    img {
      display: block;
      min-height: 100%;
    }
  }

  .wrapper-cards {
    @include flex-column(24px);

    @media (min-width: $w-sm) {
      flex-direction: row;
      flex-wrap: wrap;

      .card {
        width: calc(50% - 8px);
        flex-shrink: 0;

        @media(min-width: $w-md) {
          width: auto;
          flex-grow: 1;
          flex: 1;
        }
      }
    }

    .card {
      box-shadow: $shadow-md;
      transition: box-shadow 0.35s ease-in-out;

      &:hover {
        box-shadow: $shadow-hover;
      }

      @media (min-width: $w-xl) {
        padding-left: 48px;
        padding-right: 48px;
      }
    }

    .image-wrapper {
      background-color: var(--bg);
    }
  }

  .text-content {
    @include flex-column(4px);
    text-align: center;
    padding: 32px;
    background-color: white;
    background-image: linear-gradient(transparent, var(--bg));
    width: 90%;
    margin: -70px auto 0 auto;
    position: relative;
    box-shadow: 0px -10px 16px -5px #8484846b;

    @media(min-width: $w-sm) {
      padding: 48px;
      margin-top: -200px;
    }

    @media(min-width: $w-md) {
      margin-top: 0;
      width: auto;
      background-color: transparent;
      background-image: linear-gradient(359deg, #f8fafc, transparent);
      text-align: left;
      padding-left:74px;
      padding-right:74px;
    }
  }

}

.industries {
  position: relative;
  background-image: url("/images/hero-background.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  &::before {
    @include absolute-fill;
    content: "";
    background-color: rgb(12 63 54 / 82%);
  }

  .wrapper-columns {
    @include flex-column(1.5rem);

    @media (min-width: $w-lg) {
      flex-direction: row;
      gap: 3.5rem;
    }
  }

  .top-container {
    position: relative;
    text-align: center;
    max-width: $max-width-text;
    margin: 0 auto;
    color: white;

    @media (min-width:$w-lg) {
      text-align: left;
      width: 45%;
      flex-shrink: 0;
    }
  }

  .section-info {
    font-size: 0.85rem;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 1rem;
    padding: 8px 16px;
    background-color: rgba(255, 255, 255, 0.179);
    border-radius: 24px;
    color: var(--primary);
  }

  h3 {
    color: white;
  }

  .industry-list-grid {
    @include flex-column(0);

    @media (min-width: $w-sm) {
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
    }

    @media (min-width: $w-lg) {
      flex-direction: column;
    }
  }

  .list-items {
    display: none;

    @media(min-width:$w-lg) {
      @include flex-row(1rem);
      flex-wrap: wrap;
      margin-top: 24px;
    }

    .item {
      display: inline-block;
      // font-size: 16px;

      &::before {
        @include fa-pseudo;
        content: "\f00c";
        @include rounded(24px);
        background-color: white;
        color: var(--primary);
        margin-right: 7px;
        font-size: small;

      }
    }
  }

  .bottom-container {
    @include flex-column(32px);
  }

  .ibtn-primary {
    position: relative;
    z-index: 2;
  }

  .industry-item {
    @include flex-row;
    gap: 1rem;
    position: relative;
    padding: 32px 32px 32px 12px;
    transition: box-shadow 0.35s ease-in-out, 
                background-color 0.35s ease-in-out,
                border-radius 0.25s ease-in-out;
    color: rgba(255, 255, 255, 0.801);

    @media (min-width: $w-sm) {
      width: 300px;
      flex-shrink: 0;
      flex-grow: 1;
    }

    @media (min-width: $w-lg) {
      width: auto;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.371);
      box-shadow: $shadow-hover;
      border-radius: 16px;
    }

    .item-heading {
      color: white;
      font-size: 1.15rem;
      font-weight: 700;
      font-family: var(--font-heading);
    }

    .wrapper-icon {
      flex-shrink: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      @include rounded(45px);
      border: 1px solid var(--border);

      @media(min-width:$w-xl) {
        height: 64px;
        width: 64px;
      }

    }

    .icon {
      font-size: 18px;
    }

    .no-text {
      @include flex-column(0px);
      justify-content: center;
    }

    .decoration-line {
      display: block;
      width: 1px;
      margin: auto;
      height: 100%;
      background-color: var(--border);
    }

    .wrapper-text {
      @include flex-column;
    }
  }
}

.start-up {
  gap: 48px;

  .mini-heading {
    font-size: 0.85rem;
    font-weight: bold;
    display: inline-block;
    padding: 8px 16px;
    background-color: rgb(126 126 126 / 18%);
    border-radius: 24px;
    color: var(--primary);
  }

  .wrapper-cards {
    @include flex-column(32px);
    position: relative;
    overflow: visible;

    @media(min-width:$w-sm) {
      max-width: $max-width-text;
      margin: auto;
    }

    @media(min-width:$w-md) {
      flex-direction: row;
      margin: 0;
      max-width: none;
      // overflow: hidden;
    }

    .image-wrapper {
      margin-left: 0;
    }
  }

  .startup-card {
    text-align: center;
    border: none;
    position: relative;
    text-align: left;
    padding: 48px;
    border: 1px solid var(--border);
    border-bottom: 1px solid var(--primary);
    box-shadow: $shadow-md;
    transition: box-shadow 0.35s ease-in-out;

    @media(min-width:$w-md) {
      width: 50%;
      flex-shrink: 1;

      &:not(:last-of-type) {
        border-right: 1px solid var(--primary);
        border-bottom: 1px solid var(--border);

        &::after {
          left: 100%;
          bottom: 50%;
          transform: rotate(270deg) translateX(13px);
        }

      }
    }

    .image-wrapper {
      width: 35px;
      height: 35px;
      background-color: #64646417;
      transition: all 0.35s ease-in-out;
    }

    img {
      width: 100%;
    }

    &:hover {
      box-shadow: $shadow-hover;

      .image-wrapper {
        background-color: var(--secondary);
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      border-left: 15px solid transparent;
      border-top: 15px solid var(--primary);
      border-bottom: 15px solid transparent;
      border-right: 15px solid transparent;
    }
  }

  .get-started {
    color: var(--text-accent);
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    text-align: center;
    position: relative;

    @media (min-width: $w-lg) {
      grid-template-columns: 40% 60%;
      grid-gap: 0;
      // text-align: left;
      margin-top: 48px;
    }

    &-main {
      @include flex-column(16px);
      max-width: $max-text-width;
      margin: auto;
      text-align: center;

      .get-started-button {
        margin-left: auto;
        margin-right: auto;
      }

      @media (min-width: $w-lg) {
        text-align: left;
        margin: 0;
        justify-content: center;

        .get-started-button {
          margin-left: 0;
        }

      }

      .get-started-headline {
        font-size: 1.2rem;
        font-weight: 700;
        font-family: var(--font-heading);
      }

      [data-gsap-animate='split-text'] {
        background-color: white;
        border: 1px solid var(--border);
        border-radius: 3px;
        letter-spacing: 1px;
        padding: 5px 12px;
        color: var(--primary);
        // font-size: 16px;
        white-space: nowrap;
      }
    }

    &-features {
      @media (min-width: $w-lg) {
        margin-left: 48px;
      }
    }
  }

  .features-caption {
    display: inline-block;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    position: relative;
    background-color: white;
    padding: 12px 24px;
    border-radius: 8px;
    box-shadow: $shadow-md;

    &::after {
      content: '';
      position: absolute;
      bottom: -18px;
      left: 50%;
      transform: translateX(-50%);
      border-left: 10px solid transparent;
      border-top: 10px solid #ffffff;
      border-bottom: 10px solid transparent;
      border-right: 10px solid transparent;
    }
  }

  .features-list {
    @include flex-row(16px);
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

    li {
      display: inline-flex;
      align-items: center;
      white-space: nowrap;

      &::before {
        @include fa-pseudo;
        content: "\f00c";
        margin-right: 7px;
        @include rounded(24px);
        color: var(--primary);
        font-size: small;
        box-shadow: 0px 0px 14px 6px rgb(192 192 192 / 34%);
      }
    }
  }

  @media (min-width: $w-md) {
    .features-list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

.services {
  background-color: var(--secondary);
  background-color: rgb(114 103 15 / 77%);
  background-image: url("/images/h.svg"), linear-gradient(287deg, transparent, rgba(26, 99, 121, 0.35));
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 25px;

  @media(min-width:$w-md) {
    padding-bottom: 50px;
  }

  .container-title {
    @include flex-column(.5rem);
    text-align: center;
    max-width: $w-sm;
    margin: auto;
    color: var(--text-light);
  }

  .container-service-cards {
    @include flex-column(16px);

    @media (min-width: $w-sm) {
      flex-direction: row;
      flex-wrap: wrap;
    }

  }

  .card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
    transition: box-shadow 0.35s ease-in-out, background-color 0.35s ease-in-out;

    &:hover {
      box-shadow: $shadow-hover;
      background-color: #ffffff;
    }

    @media (min-width: $w-sm) {
      width: calc(50% - 16px);
      flex-shrink: 0;
    }
  }

  .svg-services-pointer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    min-width: 100%;
  }
}

.work-procedures {

  .content {
    gap: 0;

    @media (min-width: $w-xl) {
      flex-direction: row;
      gap: 64px;
    }
  }

  .top-container {
    text-align: center;
    width: 100%;
    max-width: $max-width-text;
    margin: auto;

    @media (min-width: $w-xl) {
      text-align: left;
      width: 45%;
      flex-shrink: 0;
    }
  }

  .container-toggles {
    @include flex-row;
    gap: .35rem;
    flex-wrap: nowrap;
    padding: 16px;
    overflow-x: auto;
    overflow-y: visible;

    @media (min-width: $w-sm) {
      justify-content: center;
    }

    @media (min-width: $w-xl) {
      flex-wrap: wrap;
      justify-content: flex-start;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .container-stages {
    @include flex-row;
    gap: 1rem;
    overflow-x: auto;
    padding: 32px;
    position: relative;
  }

  .procedure-stage {
    opacity: 0.25;
    width: 100%;
    max-width: $max-width-text;
    flex-shrink: 0;
    transform: scale(0.85);
    padding: 32px;
    border-radius: 16px;
    transition: 0.35s;
    @include flex-column(.5rem);

    @media (min-width: $w-xs) {
      padding: 48px 64px;
    }

    @media (min-width: $w-sm) {
      width: 70%;
      padding: 64px;
    }

    @media (min-width: $w-md) {
      width: 50%;
    }

    @media (min-width: $w-xl) {
      width: 90%;
      padding: 48px 64px;
    }

    &.active {
      transform: scale(1);
      opacity: 1;
      background-color: white;
      box-shadow: $shadow-hover;

      .title,
      .icon {
        display: block;
      }
    }

    .title {
      color: var(--text-accent);
      font-weight: 600;
      display: none;
    }

    .description {
      border-left: 1px solid var(--border);
      padding-left: 10px;
    }

    .icon {
      font-size: 18px;
      opacity: .75;
      margin-left: auto;
      margin-right: 0;
      @include rounded(44px);
      background-color: var(--bg);
      text-align: center;
      display: none;
    }

  }

  .procedure-toggle {
    display: inline-flex;
    gap: .5rem;
    align-items: center;
    border-radius: 24px;
    padding: 8px 12px;
    white-space: nowrap;
    transition: background .35s ease-in-out;
    color: black;

    &.active {
      background-color: white;
      box-shadow: $shadow-md;
    }
  }

  .stage-count {
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    width: 20px;
    border-radius: 24px;
    background-color: var(--primary);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }
}

.why-us {
  @include flex-column(32px);
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  background-color: white;

  .background-container {
    overflow: hidden;
    position: relative;
    background-image: url("/images/portrait-hero.png");
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left -50%;
    border-radius: 16px;

    @media (min-width: $w-sm) {
      background-size: 20% auto;
      background-position: bottom left;
    }

    @media (min-width: $w-lg) {
      border-radius: 0;
      background-attachment: scroll;
      padding-bottom: 120px;
      background-size: auto 90%;
      overflow: visible;
    }
  }

  .container-cards {
    @include flex-column(1.2rem);
    padding: 48px 32px;
    background-color: #45557133;
    background-image: linear-gradient(
199deg, #69c4c354, rgba(202, 231, 171, 0.4117647059));
    backdrop-filter: blur(2px);
    border: 1px solid var(--border);
    box-shadow: $shadow-hover;

    @media (min-width: $w-sm) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
      padding: 64px;
    }

    @media (min-width: $w-lg) {
      border-radius: 24px;
      margin-left: 200px;
    }
  }

  .card {
    background-color: transparent;
    border-radius: 0;
    border: 0;
    padding: 0;
    color: var(--text-accent);

    @media (min-width: $w-sm) {
      width: calc(50% - 1rem);
      flex-shrink: 0;
    }

    .wrapper-text {
      margin-left: 2rem;
    }

    .icon-area {
      position: relative;

      &::before {
        content: "";
        @include rounded(7px);
        background-color: white;
        position: absolute;
        bottom: -15px;
        right: 8px;
      }
    }

  }

}

.home-contact {
  .home-form {
    flex-grow: 1;
    position: relative;
    gap: 0;
  }

  .form-inputs {
    padding: 24px;
    @include flex-column(1rem);

    @media (min-width: $w-sm) {
      padding: 48px;
    }

    @media (min-width: $w-md) {
      // padding: 48px 64px;
      background-color: rgb(255, 255, 255);
    }
  }

  .content-top {
    text-align: center;
    position: relative;
    padding: 24px;

    @media (min-width: $w-sm) {
      padding: 48px;
    }

    @media (min-width: $w-md) {
      text-align: left;
      width: 40%;
      max-width: auto;
      margin-left: 0;
      flex-shrink: 0;
      flex-grow: 0;
      flex-shrink: 0;
      border-right: 2px solid var(--border);

      &.pseudo-underline::after {
        left: 48px;
        bottom: 28px;
        transform: none;
        width: 30%;
        height: 7px;
      }
    }

    @media (min-width: $w-lg) {
      padding: 48px 64px;
      width: 45%;

      &.pseudo-underline::after {
        left: 64px;
      }
    }
  }

  .arrow-pointer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    @media (min-width: $w-md) {
      justify-content: flex-start;
    }

    &::after {
      content: "\f101";
      @include fa-pseudo;
      background-color: var(--primary);
      height: 24px;
      width: 24px;
      line-height: 24px;
      border-radius: 24px;
      font-size: small;
      color: white;
      text-align: center;
    }

  }

  .image-background {
    @include flex-column(0px);
    border-radius: 16px;
    // padding: 24px;
    background-image: url("/images/techguy.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    border: 1px solid var(--border);
    overflow: hidden;

    &::before {
      content: "";
      @include absolute-fill;
      background-color: rgba(255, 255, 255, 0.85);
      backdrop-filter: blur(1px);
    }

    @media (min-width: $w-md) {
      flex-direction: row;
    }
  }

  .button-wrapper {
    background-color: white;
    background-image: linear-gradient(17deg, #a75b00, #282828d9);
    padding: 24px;
    border-top: 1px solid var(--border);

    @media (min-width: $w-sm) {
      padding-left: 48px;
      padding-right: 48px;
    }
  }

  .ibtn {
    border-radius: 8px;
    color: #000;
  }
}

.hero-carousel {
  @include flex-column(24px);

  @media (min-width: $w-md) {
    max-width: 80%;
  }

  .hero-portrait {
    position: absolute;
    bottom: 0;
    height: 80%;
  }

  .carousel-item {
    all: unset;
    opacity: 0;
    z-index: 0;
    position: absolute;

    &.active {
      opacity: 1;
      z-index: 1;
      position: inherit;

      .title,
      .text,
      .call-button,
      .hero-portrait {
        transform: none;
        opacity: 1;
      }
    }

    .title {
      @include section-title;
      @include animation-transition(1s);
      display: flex;
      align-items: center;
      transform: translateY(-37px);
      opacity: 0;
      font-size: 24px;
      position: relative;
      padding-left: 16px;
      text-shadow: 0px 0px 14px 6px rgb(192 192 192 / 34%);

      &::before {
        position: absolute;
        left: 0;
        content: "";
        display: block;
        width: 5px;
        height: 100%;
        background-color: var(--primary);
        border-radius: 2px;
        flex-shrink: 0;
      }

      @media (min-width: $w-sm) {
        font-size: 32px;
        padding-left: 24px;
      }
    }

    .call-button {
      @include animation-transition(1s);
      transform: translateY(37px);
      opacity: 0;
    }

    .hero-portrait {
      @include animation-transition(1.25s);
      opacity: 0;
    }
  }

  .menu-group {
    @include flex-column(1rem);
    position: relative;
    z-index: 2;

    @media (min-width: $w-md) {
      margin-left: 200px;
      margin-top: 64px;
    }
  }

  .text {
    @include animation-transition(.75s);
    transform: scale(1.15);
    opacity: 0.5;
    color: white;
    background-color: rgba(0, 0, 0, 0.219);
    backdrop-filter: blur(1px);
    padding: 24px;
    border-bottom: 5px solid rgba(255, 255, 255, 0.538);
  }

  .carousel-controls {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    z-index: 2;
    cursor: pointer;

    @media (min-width: $w-md) {
      margin-left: 200px;
    }
  }

  .slide-names {
    display: inline-flex;
    gap: 0.5rem;
    cursor: pointer;

    @media (min-width: $w-md) {
      gap: 1rem;
    }
  }

  .slide-name.active {
    color: white;

    .progress-bar::after {
      background-color: var(--primary);
      animation: slide-name-fill 5s linear 0s 1 normal none;
    }
  }

  .name {
    display: none;

    @media (min-width: $w-xs) {
      display: inline;
    }
  }

  .progress-bar {
    border-radius: 3px;
    height: 5px;
    min-width: 25px;
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 0;
    }
  }

  @keyframes slide-name-fill {
    from {
      background-color: white;
      width: 0;
    }

    to {
      background-color: var(--primary);
      width: 100%;
    }
  }

  .slide-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include rounded(36px);
    background-color: white;
    color: var(--primary);

    @media (min-width: $w-md) {
      @include rounded(52px);
    }

    &:hover {
      background-color: var(--primary);
      color: white;
    }
  }
}

.carousel-slides-background {
  @include absolute-fill;
  background-color: transparent;
  transition: all 1s ease-in-out;
}

.hero-container::before {
  background-color: #bcbd1314;
}