@import "./cssReset";
@import "./variables";
@import "./fonts";
@import "./customeClasses";
@import "./header";
@import "./home";
@import "./footer";


@mixin absolute-fill {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--bg);
    font-family: var(--font-body);
    line-height: 1.35;
    font-size: 0.95rem;

    @media(min-width: $w-sm) {
        font-size: 1.05rem;
        line-height: 1.5;
    }
}

.hero {
    display: flex;
    height: 100vh;
    background-color: var(--secondary);
    background-image: url("/images/hero-background.png");
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &__content {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
    }

    &::before {
        @include absolute-fill;
        content: "";
        background-color: #021417bf;
    }

    .image-container {
        width: 75%;
        height: 80%;
        position: absolute;
        bottom: 0;

        @media (min-width:$w-sm) {
            width: 50%;
        }
    }

    .width-placeholder {
        @media (min-width:$w-sm) {
            width: 35%;
            height: 1px;
            flex-shrink: 0;
        }
    }

    .image-container.to-left {
        left: -150px;

        @media (min-width:$w-sm) {
            left: 0
        }
    }

    .image-container.to-right {
        right: -150px;

        @media (min-width:$w-sm) {
            right: 0
        }
    }

    img {
        top: unset;
        left: 50%;
        transform: translateX(-50%);
        margin: auto;
        position: absolute;
        bottom: 0;
    }

    .text-content {
        @include flex-column;
        gap: 8px;
        position: relative;
        z-index: 1;
    }

    .title {
        font-size: 28px;
        font-weight: 700;
        color: white;

        @media(min-width:$w-md) {
            font-size: 32px
        }
    }

    .description {
        opacity: .8;
        color: white;
    }

    .breadCrumb {
        color: var(--primary);
        letter-spacing: 1px;
    }
}

.card {
    padding: 24px;
    @include flex-column;
    gap: 4px;
    border: none;

    .title {
        font-weight: 800;
        color: black;
    }

    // card style A
    &.card-A {

        .title {
            display: flex;
            align-items: center;

            &::before {
                content: "";
                display: block;
                height: 12px;
                width: 12px;
                background-color: var(--primary);
                margin-right: 8px;
                border-radius: 2px;
            }
        }

    }
}

@import "./about"